* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #c8f5c2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-image: url("../img/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 165px;
  position: relative;
}

h1 {
  padding: 10px;
  background-color: lime;
  border-radius: 40px;
}

h1 a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 65px 0 65px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 5px;
}

nav li a {
  padding: 8px;
  background-color: #a7ff05;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  border-radius: 8px;
}

nav li .cart box-icon {
  vertical-align: bottom;
  font-size: 22px;
  padding-right: 5px;
}

nav li .cart box-icon a {
  background-color: bisque;
  color: tomato;
  cursor: pointer;
  text-decoration: none;
}

.cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(152, 251, 152, 0.2);
}

.container,
.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  padding-bottom: 6rem;
}

.container .add_cart,
.products-container .add_cart {
  position: absolute;
  width: 100%;
  background-color: lightgreen;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.container .image,
.products-container .image {
  margin-right: 5px 20px 0 20px;
  position: relative;
  overflow: hidden;
}

.container .image a,
.products-container .image a {
  padding: 2px;
  background-color: lime;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.container .image:hover .cart1, .container .image:hover .cart2, .container .image:hover .cart3, .container .image:hover .cart4,
.products-container .image:hover .cart1,
.products-container .image:hover .cart2,
.products-container .image:hover .cart3,
.products-container .image:hover .cart4 {
  bottom: 58px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.products-container {
  max-width: 620px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-top: 40px;
}

.products-container .product-header {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 4px solid lime;
  margin: 0 auto;
}

.products-container .product-header .product-title {
  width: 45%;
}

.products-container .product-header .price {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container .product-header .quantity {
  width: 30%;
  border-bottom: 4px solid lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container .product-header .total {
  width: 45%;
  border-bottom: 1px, solid lime;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container .product-header .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 auto;
  border-bottom: 4px solid lime;
}
/*# sourceMappingURL=style.css.map */